psycopg2==2.6.1
ipdb==0.8.1
Django==1.11.28
django-fontawesome==0.2.6
urllib3==1.15.1
gunicorn==19.6.0
dj-database-url==0.4.1
APScheduler==3.0.0
-e git+https://github.com/weareswat/librato_chart_sender_package.git#egg=chart_sender