{% load staticfiles %}


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Librato Chart Sender Web</title>

        <!-- This are the css files -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        <!-- This are the js files -->
        <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>

    </head>
    <body>
        <div class="row summary_header">
            <div class="col-md-12 mywrapper">
                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation"><a href="../" >Home</a></li>
                            <li role="presentation" class="active"><a href="#">Edit</a></li>
                        </ul>
                    </nav>

                    <h3 class="title">Librato Chart Sender Web</h3>
                </div>
                <div class="container first">
{#                        <div class="header clearfix">#}
                            <h3 class="title">New Config</h3>
{#                        </div>#}
                    <form method="POST"> <!-- form started -->
                        <div class="formwrapper">
                            <div class="summary_table">
                                <div class="page-header clearfix desc_line">
                                    <h4 class="title">Librato account</h4>
                                </div>

                                <div class="container-fluid">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="username">Email/Username:</label>
                                            <div class="field">
                                                <input type="email" id="email" class="form-control">
                                            </div>
                                            <label for="api-key">Api_Key:</label>
                                            <div class="field">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="summary_table">
                                <div class="page-header clearfix desc_line">
                                    <h4 class="title">Sending</h4>
                                </div>
                                 <div class="form-group">
                                    <div class="container-fluid">
                                        <div class="col-md-11">
                                            <label for="chart_ids">Chart ID's</label>
                                            <div class="field">
                                                <select id="chart_idsg" multiple data-role="tagsinput" class="form-control">
                                                    <option value="3419">3419</option>
                                                    <option value="3420">3420</option>
                                                </select>
                                            </div>
                                            <label for="recipients">Recipient Email's</label>
                                            <div class="field">
                                                <select id="recipients" multiple data-role="tagsinput" class="form-control" >
                                                    <option value="office@rupeal.com">office@rupeal.com</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class=" clearfix desc_line summary_table">
                            <div class=" clearfix desc_line">
{#                                <h4 class="title"></h4>#}

                                <!-- experiment -->
                                <br>
                                <div class="bs-example myModal">
                                    <button type="button" class="btn btn-info btn-lg">Save</button>
                                </div>
                                <!-- ___________ -->

                            </div>
                        </div>
                    </form> <!-- end of form-->
                </div>
            </div>
        </div>
    </body>
</html>