{% load staticfiles %}


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Librato Chart Sender Web</title>

        <!-- This are the css files -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tokenfield.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/tokenfield-typeahead.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        <!-- This are the js files -->
        <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/new_config_form.js' %}"></script>
        <script src="{% static 'js/bootstrap-tokenfield.js' %}"></script>
        <script type="application/javascript">
            var cities = [{{ recipients1|safe }}];
        </script>
    </head>
    <body>
        <div class="row summary_header">
            <div class="col-md-12 mywrapper">
                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation"><a href="{% url 'index' %}" >Home</a></li>
                            <li role="presentation" class="active"><a href="."> {{ title }} </a></li>
                            <li role="presentation">
                                {% if user.is_authenticated %}
                                    <a href="/logout/">Logout</a>
                                {% else %}
                                    <a href="/login/?next={{ request.path }}">Login</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>

                    <h3 class="title"><a href="{% url 'index' %}" >Librato Chart Sender Web</a></h3>
                </div>
                <div class="container first">

                    {% for error in error_list %}

                        <div class="alert alert-danger" role="alert"><span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>

                    {% endfor %}

                    <h3 class="title">{{ title }}</h3>

                    <form method="POST" action="/config/{{ page }}/" id="new-config-form"> <!-- form started -->
                        {% csrf_token %}


                        <div class="formwrapper">
                            <div class="summary_table">
                                <div class="page-header clearfix desc_line">
                                    <h4 class="title">Librato account</h4>
                                </div>

                                <div class="container-fluid">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="username">Email/Username:</label>
                                            <div class="field">
                                                <input type="email" id="username" name="email" class="form-control" value="{{ email_username }}">
                                            </div>
                                            <label for="api-key">Api_Key:</label>
                                            <div class="field">
                                                <input id="api-key" type="text" name="api_key" class="form-control" value="{{ api_key }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="summary_table">
                                <div class="page-header clearfix desc_line">
                                    <h4 class="title">Sending</h4>
                                </div>
                                <div class="form-group">
                                    <div class="container-fluid">
                                        <div class="col-md-4">

                                            <label for="chart_ids">Chart ID's</label>
                                            <div id="chart_ids_container" class="field">
                                                <input type="text" id="chart_ids" name="chart_ids" class="form-control" value="{{ chart_ids }}">
                                            </div>

                                            <label for="recipients">Recipient Email's</label>
                                            <div id="recipients_container" class="field">
{#                                                <select id="recipients" name="recipients" multiple class="form-control" >#}
                                                <input type="text" id="recipients" name="recipients" class="form-control" value="{{ recipients }}">
{#                                                    {% for r in recipients %}#}
{#                                                        <option selected="selected" value="{{ r }}">{{ r }}</option>#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
                                            </div>

                                            <label for="duration">Duration: (seconds)</label>
                                            <div class="field" id="duration_div">
                                                <input id="duration" type="text" name="duration" class="form-control" value="{{ duration }}">
                                            </div>
                                            <label for="interval">Interval:</label>
                                            <div class="field">
                                                <select class="form-control" id="interval" name="interval">
                                                    {% for option in available_options %}
                                                        {% if interval == option %}
                                                            <option selected="selected"> {{ option }}</option>
                                                        {% else %}
                                                            <option> {{ option }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class=" clearfix desc_line summary_table">
                            <div class=" clearfix desc_line">
                                <br>
                                <div class="bs-example myModal">
                                    <button type="button" class="btn btn-info btn-lg" id="form-submit-button">Save</button>
                                </div>
                            </div>
                        </div>
                    </form> <!-- end of form-->
                </div>
            </div>
        </div>
    </body>
</html>